nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--secundary);
    width: 100%;
    height: 80px;

    -webkit-box-shadow: 0px 8px 38px 1px rgba(36, 33, 26, 0.78);
    -moz-box-shadow: 0px 8px 38px 1px rgba(36, 33, 26, 0.78);
    box-shadow: 0px 8px 38px 1px rgba(36, 33, 26, 0.78);

    top: 0;

    .logo {
        img {
            max-width: 250px;
            width: 100%;
        }

        img:hover {
            max-width: 270px;
            transition: ease 0.3s;
            cursor: pointer;
        }
    }
}

:host ::ng-deep {
    .p-button {
        background: var(--primary);
        border: 1px solid var(--primary);
    }

    .p-button:hover {
        background: var(--hoverBtn);
        border: 1px solid var(--primary);
    }

    .p-button:focus {
        -webkit-box-shadow: 0px 0px 8px 0px rgba(10, 136, 90, 1);
        -moz-box-shadow: 0px 0px 8px 0px rgba(10, 136, 90, 1);
        box-shadow: 0px 0px 8px 0px rgba(10, 136, 90, 1);
    }

    .p-button:enabled:active {
        background: var(--primary);
        color: var(--bg);
        border-color: var(--primary);
    }

    .p-sidebar{
        width: 36%;
    }

    .p-sidebar-content {
        margin-top: 70px;
        margin-left: 60px;
        height: 100%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 40px;

        a {
            text-decoration: none;

            span {
                font-size: 1.8em;
                font-weight: 500;
                color: #000000;
            }

            span:hover {
                color: var(--primary);
            }

            span:focus {
                color: var(--primary);
            }
        }

        a:hover {
            border-bottom: 0.5px solid var(--primary);
        }

        a:focus {
            border-bottom: 0.5px solid var(--primary);
        }
    }
}