.form-container-criar {
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;

    .content-forms {
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 60px;
        width: 100%;

        .tutor-form {
            width: 30%;

            .form-group {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 15px;
                margin: 10px 0 10px 0;
            }
        }

        .paciente-form {
            width: 30%;

            .form-group {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 10px;
                margin: 10px 0 10px 0;
            }
        }
    }
}

:host ::ng-deep {
    .form-container-criar {
        .content-forms {
            .paciente-form {
                .alinhar-inputs {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 20px;

                    .p-inputtext {
                        display: flex;
                        width: 100%;
                    }
                }
            }

            .tutor-form,
            .paciente-form {

                .p-inputtext,
                .p-inputnumber {
                    width: 100%;
                }
            }

            .p-inputmask:hover,
            .p-inputtext:hover,
            .p-inputmask:enabled:active,
            .p-inputtext:enabled:active,
            .p-dropdown:hover,
            .p-dropdown:enabled:active {
                border: 1px solid var(--btn-cancelar-hover);
            }

            .p-inputmask:focus,
            .p-inputtext:focus,
            .p-dropdown:focus,
            .p-disabled:focus,
            .p-focus {
                -webkit-box-shadow: 0px 0px 8px 0px rgba(102, 102, 102, 1);
                -moz-box-shadow: 0px 0px 8px 0px rgba(102, 102, 102, 1);
                box-shadow: 0px 0px 8px 0px rgba(102, 102, 102, 1);
                border-color: var(--btn-cancelar-hover);
            }

            .p-dropdown{
                width: 100%;
                .p-inputtext{
                    border: none;
                }
                .p-inputtext:hover{
                    border: none;
                }
            }

        }

        .acoes {

            .p-button {
                width: 200px;
                display: flex;
                justify-content: center;
                margin-top: 40px;
                margin-bottom: 30px;
                background: var(--primary);
                border: 1px solid var(--primary);
            }

            .p-button:hover {
                background: var(--hoverBtn);
                border: 1px solid var(--hoverBtn);
            }

            .p-button:focus {
                -webkit-box-shadow: 0px 0px 8px 0px rgba(10, 136, 90, 1);
                -moz-box-shadow: 0px 0px 8px 0px rgba(10, 136, 90, 1);
                box-shadow: 0px 0px 8px 0px rgba(10, 136, 90, 1);
            }

            .p-button:enabled:active {
                background: var(--primary);
                color: var(--bg);
                border-color: var(--primary);
            }
        }
    }
}