<form class="form-container-criar" [formGroup]="tutorForm" (ngSubmit)="submitCadastro()" #formDir="ngForm">
    <div class="content-forms">
        <div class="tutor-form">
            <h1>Tutor</h1>
            <div class="form-group">
                <label for="nome">Nome</label>
                <input type="text" id="nome" formControlName="nome" placeholder="Nome" pInputText />
            </div>
            <div class="form-group">
                <label for="cpf">CPF</label>
                <input type="text" id="cpf" formControlName="cpf" placeholder="CPF" pInputText />
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" id="email" formControlName="email" pInputText placeholder="Email"/>
            </div>
            <div class="form-group">
                <label for="telefone">Telefone</label>
                <input type="text" id="telefone" formControlName="telefone" placeholder="Telefone" pInputText />
            </div>
            <div class="form-group">
                <label for="dataNascimento">Data de nascimento</label>
                <p-inputMask formControlName="dataNascimento" mask="99/99/9999" placeholder="99/99/9999"
                    slotChar="dd/MM/yyyy" id="dataNascimento"></p-inputMask>
            </div>
        </div>

        <div class="paciente-form">
            <h1>Paciente</h1>
            <div class="form-group">
                <label for="nomep">Nome</label>
                <input type="text" id="nomep" formControlName="nomep" pInputText placeholder="Nome do Pet"/>
            </div>
            <div class="alinhar-inputs">
                <div class="form-group">
                    <label for="especie">Especie</label>
                    <input type="text" id="especie" formControlName="especie" pInputText placeholder="Espécie"/>
                </div>
                <div class="form-group">
                    <label for="raca">Raça</label>
                    <input type="text" id="raca" formControlName="raca" pInputText placeholder="Raça"/>
                </div>
            </div>
            
            <div class="alinhar-inputs">
                <div class="form-group">
                    <label for="idade">Idade</label>
                    <p-inputNumber inputId="integeronly" formControlName="idade"></p-inputNumber>
                </div>
                <div class="form-group">
                    <label for="peso">Peso</label>
                    <p-inputNumber inputId="minmaxfraction" formControlName="peso" mode="decimal" [minFractionDigits]="2"
                        [maxFractionDigits]="5">
                    </p-inputNumber>
                </div>
            </div>
            
            <div class="form-group">
                <label for="cor">Cor</label>
                <input type="text" id="cor" formControlName="cor" pInputText placeholder="Cor"/>
            </div>
            <div class="form-group">
                <label for="eResultadoTriagem">Resultado triagem</label>
                <p-dropdown [options]="areaTriagem" formControlName="eResultadoTriagem" placeholder="Resultado da Triagem" optionLabel="name" [showClear]="true"></p-dropdown>
            </div>
        </div>
    </div>


    <div class="acoes">
        <p-button type="submit">Cadastro</p-button>
    </div>

</form>