<div class="card">
    <p-table [value]="tutor" [scrollable]="true" scrollHeight="400px" [tableStyle]="{'min-width': '50rem'}">
        <ng-template pTemplate="header">
            <tr>
                <th>Nome</th>
                <th>CPF</th>
                <th>Data de nascimento</th>
                <th>Email</th>
                <th>Telefone</th>
                <th>Funcionalidades</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-tutor>
            <tr>
                <td>{{tutor.nome}}</td>
                <td>{{tutor.cpf}}</td>
                <td>{{tutor.dataNascimento}}</td>
                <td>{{tutor.email}}</td>
                <td>{{tutor.telefone}}</td>
                <td class="funcionalidades-tabela">
                    <p-button class="btn-pets" type="button" (click)="showDialog(tutor)" label="PETS"></p-button>
                    <p-button class="btn-atualizar" type="button" (click)="atualizarTutorDialog(tutor)" label="Atualizar"></p-button>
                    <p-button class="btn-desativar" type="button" (click)="confirm(tutor)" label="Desativar"></p-button>
                    <p-button class="btn-adicionar" type="button" (click)="display = false" (click)="adicionarPetDialogOficial(tutor)" label="Novo Pet"></p-button>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <p-button class="btn-add-tutor" routerLink="cadastro" icon="pi pi-plus" label="Adicionar Tutor"></p-button>
</div>

<p-confirmDialog acceptLabel="Confirmar" rejectLabel="Cancelar" header="Confirmação" icon="pi pi-exclamation-triangle"> 
</p-confirmDialog>

<p-dialog header="Lista de pets do tutor" [(visible)]="display" [modal]="true" [style]="{width: '60%'}">
    <div class="card">
        <p-table [value]="tutorPacientes" [scrollable]="true" scrollHeight="400px" [tableStyle]="{'min-width': '50rem'}">
            <ng-template pTemplate="header">
                <tr>
                    <th>Nome</th>
                    <th>Espécie</th>
                    <th>Raça</th>
                    <th>Idade</th>
                    <th>Peso</th>
                    <th>Resultado triagem</th>
                    <th>Funcionalidades</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-tutorPacientes>
                <tr>
                    <td>{{tutorPacientes.nome}}</td>
                    <td>{{tutorPacientes.especie}}</td>
                    <td>{{tutorPacientes.raca}}</td>
                    <td>{{tutorPacientes.idade}}</td>
                    <td>{{tutorPacientes.peso}}</td>
                    <td>{{eResultadoTriagem(tutorPacientes.eResultadoTriagem)}}</td>
                    <td>
                        <p-button class="btn-atualizar" type="button" (click)="display = false" (click)="atualizarPetDialog(tutorPacientes)" label="Atualizar Pet"></p-button>
                        <p-button class="btn-desativar" type="button" (click)="confirm2(tutorPacientes)" label="Deletar"></p-button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</p-dialog>

<p-dialog header="Atualizar Dados Tutor" [(visible)]="displayAtualizar" [modal]="true">
    <form class="form-container"  [formGroup]="tutorForm" (ngSubmit)="submitAtualizarTutor()" #formDir="ngForm">
        <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" id="nome" formControlName="nome" [(ngModel)]="tutorEditar.nome" pInputText/>
        </div>
        <div class="form-group">
            <label for="cpf">CPF</label>
            <input type="text" id="cpf" formControlName="cpf" [(ngModel)]="tutorEditar.cpf" pInputText/>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" id="email" formControlName="email" [(ngModel)]="tutorEditar.email" pInputText/>
        </div>
        <div class="form-group">
            <label for="telefone">Telefone</label>
            <input type="text" id="telefone" formControlName="telefone" [(ngModel)]="tutorEditar.telefone" pInputText/>
        </div>
        <div class="form-group">
            <label for="dataNascimento">Data de nascimento</label>
            <p-inputMask formControlName="dataNascimento" mask="99/99/9999" placeholder="99/99/9999" slotChar="dd/MM/yyyy" id="dataNascimento" [(ngModel)]="tutorEditar.dataNascimento"></p-inputMask>
        </div>
        <div class="acoes">
            <p-button type="submit">Atualizar</p-button>
        </div>
    </form>
</p-dialog>

<p-dialog header="Atualizar Dados Pet" [(visible)]="displayAtualizarPet" [modal]="true">
    <form class="form-container"  [formGroup]="pacienteForm" (ngSubmit)="submitAtualizarPet()" #formDir="ngForm">
        <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" id="nome" formControlName="nome" [(ngModel)]="pacienteEditar.nome" pInputText/>
        </div>
        <div class="form-group">
            <label for="especie">Espécie</label>
            <input id="especie" formControlName="especie" [(ngModel)]="pacienteEditar.especie" pInputText/>
        </div>
        <div class="form-group">
            <label for="raca">Raça</label>
            <input type="text" id="raca" formControlName="raca" [(ngModel)]="pacienteEditar.raca" pInputText/>
        </div>
        <div class="form-group">
            <label for="idade">Idade</label>
            <input type="number" id="idade" formControlName="idade" [(ngModel)]="pacienteEditar.idade" pInputText/>
        </div>
        <div class="form-group">
            <label for="peso">Peso</label>
            <input type="number" id="peso" formControlName="peso" [(ngModel)]="pacienteEditar.peso" pInputText/>
        </div>
        <div class="form-group">
            <label for="cor">Cor</label>
            <input type="text" id="cor" formControlName="cor" [(ngModel)]="pacienteEditar.cor" pInputText/>
        </div>
        <div class="form-group">
            <label for="eResultadoTriagem">Resultado triagem</label>
            <p-dropdown [options]="areaTriagem" formControlName="eResultadoTriagem" placeholder="Resultado da Triagem" optionLabel="name"></p-dropdown>
        </div>
        <div class="acoes">
            <p-button type="submit">Atualizar</p-button>
        </div>
    </form>
</p-dialog>

<p-dialog header="Adicionar Novo Pet" [(visible)]="displayAdicionarPet" [modal]="true">
    <form class="form-container"  [formGroup]="pacienteForm" (ngSubmit)="submitAdicionarPet()" #formDir="ngForm">
        <div class="form-group">
            <label for="nome">Nome</label>
            <input [ngClass]="{'campos-invalidos': submitted && pacienteForm.controls['nome'].errors}" type="text" id="nome" formControlName="nome" pInputText/>
            <div *ngIf="submitted && pacienteForm.controls['nome'].errors">
                <div *ngIf="pacienteForm.controls['nome'].errors?.['required']">
                   <p class="msg-validacao">Campo obrigatório</p>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="especie">Espécie</label>
            <input [ngClass]="{'campos-invalidos': submitted && pacienteForm.controls['especie'].errors}" id="especie" formControlName="especie" pInputText/>
            <div *ngIf="submitted && pacienteForm.controls['especie'].errors">
                <div *ngIf="pacienteForm.controls['especie'].errors?.['required']">
                   <p class="msg-validacao">Campo obrigatório</p>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="raca">Raça</label>
            <input [ngClass]="{'campos-invalidos': submitted && pacienteForm.controls['raca'].errors}" type="text" id="raca" formControlName="raca" pInputText/>
            <div *ngIf="submitted && pacienteForm.controls['raca'].errors">
                <div *ngIf="pacienteForm.controls['raca'].errors?.['required']">
                   <p class="msg-validacao">Campo obrigatório</p>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="idade">Idade</label>
            <input [ngClass]="{'campos-invalidos-number': submitted && pacienteForm.controls['idade'].errors}" type="number" id="idade" formControlName="idade" pInputText/>
            <div *ngIf="submitted && pacienteForm.controls['idade'].errors">
                <div *ngIf="pacienteForm.controls['idade'].errors?.['required']">
                   <p class="msg-validacao">Campo obrigatório</p>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="peso">Peso</label>
            <input [ngClass]="{'campos-invalidos-number': submitted && pacienteForm.controls['peso'].errors}" type="number" id="peso" formControlName="peso" pInputText/>
            <div *ngIf="submitted && pacienteForm.controls['peso'].errors">
                <div *ngIf="pacienteForm.controls['peso'].errors?.['required']">
                   <p class="msg-validacao">Campo obrigatório</p>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="cor">Cor</label>
            <input [ngClass]="{'campos-invalidos': submitted && pacienteForm.controls['cor'].errors}" type="text" id="cor" formControlName="cor" pInputText/>
            <div *ngIf="submitted && pacienteForm.controls['cor'].errors">
                <div *ngIf="pacienteForm.controls['cor'].errors?.['required']">
                   <p class="msg-validacao">Campo obrigatório</p>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="eResultadoTriagem">Resultado triagem</label>
            <p-dropdown [ngClass]="{'campos-invalidos-dropdown': submitted && pacienteForm.controls['eResultadoTriagem'].errors}" [options]="areaTriagem" formControlName="eResultadoTriagem" placeholder="Resultado da Triagem" optionLabel="name" [showClear]="true"></p-dropdown>
            <div *ngIf="submitted && pacienteForm.controls['eResultadoTriagem'].errors">
                <div *ngIf="pacienteForm.controls['eResultadoTriagem'].errors?.['required']">
                   <p class="msg-validacao">Campo obrigatório</p>
                </div>
            </div>
        </div>
        <div class="acoes">
            <p-button type="submit">Adicionar</p-button>
        </div>
    </form>
</p-dialog>



